<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">

      <h6 class="text-uppercase fw-bold mb-4">
         Created by Luigi Buono
       </h6>

    <a href="https://www.facebook.com/luigi.buono.9250/" target="_blank" class="me-4 text-reset">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://twitter.com/LuigiBu48833456" target="_blank" class="me-4 text-reset">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/luigi-buono-/" target="_blank" class="me-4 text-reset">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/luigibuono" target="_blank" class="me-4 text-reset">
      <i class="fab fa-github"></i>
    </a>
  </div>






